.cv
{
    display: grid;
    grid-template-rows: auto;
     grid-template-columns: auto;
    margin: 0 auto;
    width: 70%;  
}

p
{
    margin-left: 10px;
}

/* cv gauche */

.photo
{
    grid-column: 1; grid-row: 1;
    background-color: #FFC400;
    width: 67%;
    margin-left: 22%;
    }
img
{
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
     height: 160px;
     width: 160px;
     margin: 30px 40px;
     width: 67%;
}

.contact
{ 
grid-column: 1; grid-row: 2;
    font-size: 13px;
    margin-bottom: 18px;
    margin-top: 40px;
    background-color: #FFC400;
    width: 67%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 60px;
    text-align: left;
    margin-left: 22%;   
}

.contact h3
{
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    background-color: #424242;
    color: #FFC400;   
    margin-bottom: 40px;
}

.apdm
{
    grid-column: 1; grid-row: 3;
    
     font-size: 15px;
    margin-top: 30px;
    background-color: #FFC400;
    width: 67%;
    margin-top: 0px;
    margin-left: 22%; 
}

.apdm h3
{
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    background-color: #424242;
    color: #FFC400;   
    margin-bottom: 40px;
}

.loisirs
{
    grid-column: 1; grid-row: 4;
    margin-top: 120px;
    background-color: #FFC400;
    width: 67%;
    margin-top: 0px;
    margin-left: 22%;   
}

.loisirs h3
{
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    background-color: #424242;
    color: #FFC400;   
    margin-bottom: 40px;
}

.loisirs i

{
    margin-left: 25px;
    margin-top: 15px;
    font-size: 32px;
}





/* cv droit */


.titre
{
    grid-column: 2; grid-row: 1;  
}

.titre h1
{
    margin-top: 50px;
    font-size: 55px;
}

.titre h2
{
    font-size: 25px;
}

.titre hr
{
    margin-left: 30px;
    width: 11%;
    background-color: #FFC400;
    size: 4;
}

.frmt
{ 
grid-column: 2; grid-row: 2;
}

.exp
{
    grid-column: 2; grid-row: 3;
}

.reco
{
    grid-column: 2; grid-row: 4;
}

#reco2
{
    margin-left: 210px;
    margin-top: 20px;
    font-size: 12px;
}


.hr-h3
{
    width: 95%;
    background-color: #FFC400;
    size: 4;
}


.fa-dot-circle {
    color: #FFC400;
    font-size: 10px;
    padding-left: 0px;
    margin-left: -20px;
}

.fa-circle{
    color: #FFC400;
    font-size: 8px;
    padding-left: 0px;
    margin-left: -20px;
}

h1 span
{
     color: #FFC400;
}

h3 i
{
    color: #FFC400;
}

ul li 
{
    list-style: none;
}

.cvdroit_date
{
    float: left;
    font-size: 12px;        
}

.cvdroit_text
{
    margin-left: 180px;  
    margin-top: 30px;
   
}




/* resolution moyenne */


@media screen and (max-width: 600px) {
  
    
    
.cv
{
    display: grid;
    grid-template-columns: auto;
    width: 100%;  
}    
    
    
    
    
    .photo
{
    grid-column: 1; grid-row: 1;
    width: 100%;
      margin-left: 0;
    background-color: white;
    background-color: #FFC400;
    
}
    img{
     height: 180px;
        width: 180px;
    margin-left: 100px;}

.contact
{ 
grid-column: 1; grid-row: 4;
width: 100%;
    margin-left: 0;
    padding-top: 20px;
   
}

.apdm
{
    grid-column: 1; grid-row: 3;
    width: 100%;
    margin-left: 0;
    padding-top: 20px;
}

.loisirs
{
    grid-column: 1; grid-row: 8;
   width: 100%;
    padding-top: 20px;
    margin-left: 0;
   
}

.loisirs i
    {
        margin-left: 60px;
    }

/* cv droit */


.titre
{
    grid-column: 1; grid-row: 2;
    background-color: #FFC400;
    width: 100%;
}
    h1 span
{
     color: black;
}


.frmt
{ 
grid-column: 1; grid-row: 5;
    background-color: #FFC400;
    padding-top: 20px;
    width: 100%;
}

    
.frmt h3
    {
      text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    background-color: #424242;
    color: #FFC400;   
    margin-bottom: 20px;  
    }
    
.exp
{
    grid-column: 1; grid-row: 6;
    background-color: #FFC400;
    padding-top: 20px;
     width: 100%;
}
    
.exp h3
    {
        text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    background-color: #424242;
    color: #FFC400;   
    margin-bottom: 20px;
    }

.reco
{
    grid-column: 1; grid-row: 7;
    background-color: #FFC400;
    padding-top: 20px;
     width: 100%;
    
}
    
.reco h3
    {
        text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    background-color: #424242;
    color: #FFC400;   
    margin-bottom: 20px;
    }
    
    
.hr-h3
    {
        visibility: hidden;
    }
    
    
  .cvdroit_text
{
    margin-left: 150px; 
   
}  
       
}


/* mobile Résolution */


@media screen and (max-width: 310px)
    
{  

.cv
{
    display: grid;
    grid-template-columns: auto;
    width: 100%;  
}    
    
    
    
    
    .photo
{
    grid-column: 1; grid-row: 1;
    width: 300px;
    max-width: 300px;
      margin-left: 0;
    background-color: white;
    background-color: #FFC400;
    
}
    img{
     height: 180px;
        width: 180px;
    margin-left: 100px;}

.contact
{ 
grid-column: 1; grid-row: 4;
width: 100%;
    margin-left: 0;
    padding-top: 20px;
    width: 300px;
    max-width: 300px;
   
}

.apdm
{
    grid-column: 1; grid-row: 3;
    width: 100%;
    margin-left: 0;
    padding-top: 20px;
    width: 300px;
    max-width: 300px;
}

.loisirs
{
    grid-column: 1; grid-row: 8;
   width: 100%;
    padding-top: 20px;
    margin-left: 0;
    width: 300px;
    max-width: 300px;
   
}

.loisirs i
    {
        margin-left: 60px;
    }

/* cv droit */


.titre
{
    grid-column: 1; grid-row: 2;
    background-color: #FFC400;
    width: 100%;
    width: 300px;
    max-width: 300px;
}
    h1 span
{
     color: black;
}


.frmt
{ 
grid-column: 1; grid-row: 5;
    background-color: #FFC400;
    padding-top: 20px;
    width: 100%;
    width: 300px;
    max-width: 300px;
}

    
.frmt h3
    {
      text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    background-color: #424242;
    color: #FFC400;   
    margin-bottom: 20px;  
    }
    
.exp
{
    grid-column: 1; grid-row: 6;
    background-color: #FFC400;
    padding-top: 20px;
     width: 100%;
    width: 300px;
    max-width: 300px;
}
    
.exp h3
    {
        text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    background-color: #424242;
    color: #FFC400;   
    margin-bottom: 20px;
    }

.reco
{
    grid-column: 1; grid-row: 7;
    background-color: #FFC400;
    padding-top: 20px;
     width: 100%;
    width: 300px;
    max-width: 300px;
    
}
    
.reco h3
    {
        text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    background-color: #424242;
    color: #FFC400;   
    margin-bottom: 20px;
    }
    
    
.hr-h3
    {
        visibility: hidden;
    }
    
    
  .cvdroit_text
{
    margin-left: 150px; 
   
}  
       
}


